<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Vue Demo</title>
</head>

<body>
  <div class="{jack:}">{{counter}}</div>
  <p>Using mustaches: {{ rawHtml }}</p>
  <p>Using v-html directive: <span v-html="rawHtml"></span></p>
  <div id="my_view">
    搜索：<input v-model="search" type="text" />
    <ul>
      <li v-for="friend in friends | filterBy search in 'name'">
        <!-- 遍历对象中的属性 -->
        {{ friend.name }}
      </li>
    </ul>
  </div>
  <script src="vue.min.js"></script>
  <script src="app2.js"></script>
</body>

</html>