<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Vue Demo</title>
</head>

<body>
  <div id="app">
    <div>{{ counter }}</div>
    <button v-on:click="increment">Increment</button>
    <todo-item>{{ template 123 }}</todo-item>
  </div>

  <div id="app-7">
    <ol>
      <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">

      </todo-item>
      <todo-item1></todo-item1>
      <!-- 我的猜想 创造多个子组件，都能使用Vue某个对象的实例 -->
    </ol>
  </div>


  <!-- todo-item首先这是自定义的组件。 -->
  <script src="vue.min.js"></script>
  <script src="app3.js"></script>
</body>

</html>